<div class="add-title">
  <h2 mat-dialog-title *ngIf="contact.name">Edit <strong>{{contact.name}}`s</strong> data </h2>
  <h2 mat-dialog-title *ngIf="contact.firstName">Edit <strong>{{contact.lastName}}`s</strong> data </h2>
</div>
    
<mat-dialog-content>
  <form [formGroup]="editContactForm" (ngSubmit)="onSubmit()" [class.loading]="loading" novalidate>
    <mat-grid-list #gridList [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">

      <mat-grid-tile [colspan]="breakpoint" [rowspan]="3">
        <div *ngIf="contact.photoUrl.data; then binaryImage else serverImage"></div>
        <ng-template #binaryImage> <img #img mat-card-image [src]="contact?.photoUrl.data" [style.width.px]="255"> </ng-template>
        <ng-template #serverImage> <img mat-card-image [src]="contact?.photoUrl" [style.width.px]="255"> </ng-template>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-form-field>
          <input matInput #firstName placeholder="First Name" type="text" formControlName="firstName">
          <mat-error style="color: red;" *ngIf="editContactForm.controls['firstName'].invalid && (editContactForm.controls['firstName'].dirty || editContactForm.controls['firstName'].touched)">
            <mat-error *ngIf="editContactForm.controls['firstName'].errors?.required">
              Enter your first name!
            </mat-error>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>  
        
      <mat-grid-tile>
        <mat-form-field>
          <input matInput #lastName placeholder="Last Name" type="text" formControlName="lastName">
          <mat-error style="color: red;" *ngIf="editContactForm.controls['lastName'].invalid && (editContactForm.controls['lastName'].dirty || editContactForm.controls['lastName'].touched)">
            <mat-error *ngIf="editContactForm.controls['lastName'].errors?.required">
              Enter your last name!
            </mat-error>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
        
      <mat-grid-tile [colspan]="breakpoint">
        <mat-form-field [style.width.px]="addressFieldWidth-110">
          <!-- <input matInput #address placeholder="Address" type="text" formControlName="address"> -->
          <textarea matInput #address placeholder="Address" type="text" formControlName="address"></textarea>
          <mat-error style="color: red;" *ngIf="editContactForm.controls['address'].invalid && (editContactForm.controls['address'].dirty || editContactForm.controls['address'].touched)">
            <mat-error *ngIf="editContactForm.controls['address'].errors?.required">
              Enter your address!
            </mat-error>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field [style.width.px]="addressFieldWidth/3-15">
          <mat-label>Area Code</mat-label>
          <input matInput #areaCode formControlName="areaCode" placeholder="#####" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field [style.width.px]="addressFieldWidth/3-15">
          <mat-label>Prefix</mat-label>
          <input matInput #prefix formControlName="prefix" placeholder="###" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field [style.width.px]="addressFieldWidth/3-15">
          <mat-label>Line Number</mat-label>
          <input matInput #lineNumber formControlName="lineNumber" placeholder="####" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    
    <button mat-raised-button color="primary">Edit</button>
    
  </form>
</mat-dialog-content>