<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <!-- <p>Menu</p> -->
      <button color="primary" mat-button routerLink="/contacts">Contacts</button>
    </mat-drawer>
    <div class="sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
  
          <span>Title</span>
          <span class="spacer"></span>
          <mat-icon>favorite</mat-icon>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item>
              <mat-icon>login</mat-icon>
              <span>Login</span>
            </button>
            <button mat-menu-item [disabled]="isUnchanged">
              <mat-icon>comment</mat-icon>
              <span>Comment</span>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
</mat-drawer-container>