.mat-radio-button {
    margin: 0 12px;
  }

  .dialog-container {
    position: relative;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99999;
}