/* mat-grid-list {
  margin: auto;
}

mat-grig-title {
  margin: auto;
}

app-contact {
  margin: auto;
} */

/* .mat-form-field {
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
} */

mat-form-field {
  width: 100%;
  display: flex;
  justify-content: center;
}